@import "_variables.scss";
@import "_keyframes.scss";
@import "header.scss";
@import "main.scss";
@import "footer.scss";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a,
button {
    text-decoration: none;
    cursor: pointer;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden
}

.btn {
    background: #F62465;
    border-radius: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}